# Ignore folder named 'env/'
env/
inv_processing/data/
scripts/1C pdf
scripts/1C img
docs/
predictions/
predictions_with_fact/
Tesseract-OCR/
tesser_data/
labels/
1C pdf/
results/
categories/
tessdata/
tests/
data_not_in_table/
annotator/VGG*Image*Annotator/
.travis.yml
MANIFEST.in
LICENSE
tesseract.pxd
tesserocr_experiment.pyx
tesserocr-2.4.0-cp37-cp37m-win_amd64.whl
tesserocr.pyx
tox.ini
Dockerfile
README.rst
annotator/VGG Image Annotator/




# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# vim
*.swp
.ycm_extra_conf.py

# cpp
*.cpp
Makefile
